body{

  font-family:'Lato',sans-serif;
  font-family: 'Open Sans',sans-serif;
}
.text-primary{
    color:#FD6E0A;
}
main{
    max-width: 1140px;
    margin: 0 auto;
}
main section{
    margin-top: 130px;
}
.btpr{
    border-radius:5px;
    border: 0px;
background: #FD6E0A;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
padding: 15px 35px;
color:white;

}
nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}
.nav-title{
    colour:#181818
    font-size:45px;
    font-style:Normal;
    font-weight:800;
    line-height:Normal;


}
nav>ul{
    display:flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 50px;
}
nav a {
    text-decoration:none ;
    color:#474747;
}
a{
    padding: 30px 30px 30px 150px;
 display: flex;
 align-items: center;
 justify-content: center;

}
.pp{
width: 584px;
height: 676px;
flex-shrink: 0;
}
.header{
   background-color: #FFF8F3; 
   background-image: url('header_bg.png');
   background-repeat: no-repeat;
   background-position: bottom right;
}
.banner{
    padding:30px 30px 0px 150px;
    display:flex;
    align-items:center;
    justify-content: space-between;
}
.banner-content{
    max-width = 500px;
}
.banner .pp{
    width:500px;

}
.banner-description{
    color: var(--Dark-03, #757575);
font-family: "Open Sans";
font-size: 18px;
font-style: normal;
font-weight: 400;
max-width: 585px;
line-height: 30px;



}
.banner title{
    font-size:85px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;
}
 .about{
    padding: 130px;
    border-radius: 10px;
    background: #FFF8F3;
    margin: 130px;
    border-radius: 10px;
 }
 .section-title{
color:#181818;
text-align:center;
font-weight: 700;
font-size: 35px; 
 }
 .section-description{
text-align: center;
line-height: 30px;
margin:130px 0px;


 }
 main{
    max-width: 1140px;
    margin:0 auto;
 }
 .about-info-conatiner{
    display: flex;
    justify-content: space-around;
 }
 .about-info{
    text-align: center;
 }
 #what-i-do-description{
    padding:30px 150px;
 }
 .skills-container{
    display: flex;
    gap: 24px;
   
 }
 .skill{
    padding: 30px;
    border-radius: 5px;
    background: #FFF;
    
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);


 }
 .skill-description{
 
    color:  #757575;
font-family: "Open Sans";
font-size: 16px;
}
main section{
    margin-top:130px ;
}
.resume-column-title{
    color: var(--Dark-02, #474747);
font-size: 30px;
font-style: normal;
font-weight: 700;

}
.resume-container{
    display:flex;
    gap:50px;
}
.resume-item-institute{
    color: var(--Dark-03, #757575);
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
margin-top: 0px;
margin-bottom:10px ;
}
.resume-item-title{
    color: var(--Dark-02, #474747);
font-size: 25px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-bottom: 10px;
}
.resume-item-description{
    color: var(--Dark-03, #757575);
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 28px; /* 175% */
}
.download-cv{
    text-align:center ;
    margin-top: 50px;
    margin-bottom: 50px;

}
footer{
    display: flex;
    background: #FFF8F3;
    padding: 130px 200px;
    margin-top: 100px;
    gap: 100px;
}
.footer-column{
    width:50%;
}
.contact input[type="text"],.contact input[type="email"],textarea{
    display: block;
    margin-bottom: 24px;
    padding:18px 35px;
    color: var(--Dark-03, #757575);
font-family: "Open Sans";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 28px; 
border-radius: 5px;
background: #FFF;
width:100%;
}
.social-links a{
    display: inline-flex;
}
